<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            what's up about {{course.name}}
        </div>
        <div class="col-lg-9">
            Write some thing about you today ...
        </div>
    </div>
</div>