<div class="mt-4">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4">
            <div class="card mt-2">
                <a href="/courses/{{this.slug}}">
                    <img src="..." class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        {{this.name}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>